<!DOCTYPE HTML>
<html>
<head>
  <title>Free Car shop Website Template</title>
  <% content_for :css do
    stylesheet_link_tag '/assets/stylesheets/style.css'
  end %>
  <% content_for :css do
    stylesheet_link_tag '/assets/stylesheets/slider.css'
  end %>
  <% content_for :js do
    javascript_include_tag '/assets/javascripts/jquery-1.9.0.min.js'
  end %>
  <% content_for :js do
    javascript_include_tag '/assets/javascripts/jquery.nivo.slider.js'
  end %>
  <% content_for :js do
    javascript_include_tag '/assets/javascripts/allScripts.js'
  end %>
  <% content_for :js do
    javascript_include_tag '/assets/javascripts/jquery.lightbox.js'
  end %>
  <% content_for :css do
    stylesheet_link_tag '/assets/stylesheets/lightbox.css',media: 'screen'
  end %>
  <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Roboto+Condensed'/>
</head>

<body>
<div class="header">
  <div class="wrap">   
     <div class="header-top"> 
          <div class="logo">
<img src="/assets/l.png"  style="height: 150px; display: inline; ">
        <h2 class = "mojFont" style="display: inline; margin: 160px;"> The Car Shop </h2>      </div>
      <div class="clear"></div> 
      </div>
  </div>
  <div class="header-bottom">
    <div class="wrap">  
    <div id="cssmenu" style="margin-right:-80px;">
       <ul style="margin-bottom:0;">
         <li><%= link_to 'Home', controller:"pages" %><li>
         <%if current_user%>
                <% if current_user.role_id.equal?(1) %>
                  <li><%= link_to 'Product', products_path %></li>
              <%end %>
               <% if current_user.role_id.equal?(2) %>
                   <li><%= link_to 'My previous orders', show_all_history_url %></li>
                   <li><%= link_to 'Show products', show_all_url %></li>
                   <li><%= link_to 'Cart', show_all_cart_url %></li>
                   <li class="active"><%= link_to 'My services', show_my_services_path %></li>
               <%end %>
               <% if current_user.role_id.equal?(3) %><!-- za servisera-->
                  <li class="active"><%= link_to 'Service', services_path %></li>
               <%end%>
               <%end%>
         <% if current_user %>
         <li><%= link_to "#{current_user.full_name}", show_user_path(current_user.id) %></li>
         <li><%= link_to "Log Out", session_path("current"), method: "delete" %> </li>
   
       <% else %>
         <li><%= link_to 'Login', new_session_path %></li>
         <li><%= link_to 'Sign up', new_user_path %><li>
         <%end %>
      </ul>
    </div>
    <div class="clear"></div> 
  </div>
  </div>
</div>
<div class="row" style="margin: 0 1px 0 0; padding: 6% 0px 16.1%; overflow-y:hidden;">

<div class="container">
<h1 style="color:white">Services</h1>

<table class="table table-bordered" style="background-color:white; width:90%; margin:auto;">
  <thead>
    <tr>
      <th>Car name</th>
      <th>Bought here</th>
      <th>User</th>
      <th>Description</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

    <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.car_name %></td>
        <td><%= service.bought_here %></td>
        <td><%= service.user_id %></td>
        <td><%= service.description %></td>
        <% if service.status == 'new' %>
        <td><%= service.status %>   <span class="glyphicon glyphicon-exclamation-sign" style="color:red" data-toggle="tooltip" data-placement="left" title="Not started!"></span></td>
        <% elsif service.status == 'done'%>
        <td><%= service.status %>   <span class="glyphicon glyphicon-ok" style="color:green" data-toggle="tooltip" data-placement="left" title="Finished, car fixed!"></span></td>
        <% else %>
        <td><%= service.status %>   <span class="glyphicon glyphicon-exclamation-sign" style="color:yellow" data-toggle="tooltip" data-placement="left" title="In progress!"></span></td>
        <% end %>
        <td><%= link_to 'Show', service %></td>
        <td><%= link_to 'Edit', edit_service_path(service) %></td>
        <td><%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

  </tbody>
</table>

<br>

<button type="button" class="btn btn-light pull-right" style="margin-right: 55px;float: right; background-color: green; "><%= link_to 'New service', new_service_path, style: 'color:white'%></button>

</div>
</div>
</div>
</div>
  <div class="footer">
     <div class="wrap">
     <div class="copy">
      <p> © 2013 All rights Reserved | Design by <a href="http://w3layouts.com">W3Layouts</a></p>
    </div>
    <ul class="follow_icon">
       <li><a href="#" style="opacity: 1;"><%= image_tag("fb.png", :alt => "") %></a></li>
       <li><a href="#" style="opacity: 1;"><%= image_tag("tw.png", :alt => "") %></a></li>
       <li><a href="#" style="opacity: 1;"><%= image_tag("rss.png", :alt => "") %></a></li>
       <li><a href="#" style="opacity: 1;"><%= image_tag("g.png", :alt => "") %></a></li>
    </ul>
    <div class="clear"></div> 
  </div>
  <div class="footer-bot">
    <a href="#toTop" class="toTop">&uarr;</a>
  </div>
  <div class="clear"></div>
</div>

</div>
</body>
</html>