<%= form_with(model: newtest, local: true) do |form| %>
  <% if newtest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(newtest.errors.count, "error") %> prohibited this newtest from being saved:</h2>

      <ul>
      <% newtest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :newtest_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
