<!DOCTYPE HTML>
<html>
<head>
<title>Free The Car Shop Website Template | Home :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<% content_for :css do
	stylesheet_link_tag '/assets/stylesheets/style.css'
end %>
<% content_for :css do
	stylesheet_link_tag '/assets/stylesheets/slider.css'
end %>
<% content_for :js do
	javascript_include_tag '/assets/javascripts/jquery-1.9.0.min.js'
end %>
<% content_for :js do
	javascript_include_tag '/assets/javascripts/jquery.nivo.slider.js'
end %>
<% content_for :js do
	javascript_include_tag '/assets/javascripts/allScripts.js'
end %>
<% content_for :js do
	javascript_include_tag '/assets/javascripts/jquery.lightbox.js'
end %>
<% content_for :css do
	stylesheet_link_tag '/assets/stylesheets/lightbox.css', media: 'screen'
end %> 
<link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Roboto+Condensed'/>

</head>
<body>

<div class="container">
<div class="header">
	<div class="wrap">   
     <div class="header-top"> 
          <div class="logo">
        <%= image_tag("carlogoP.png", :alt => "") %>
      </div>
      <div class="clear"></div> 
      </div>
  </div>
	<div class="header-bottom">
	  <div class="wrap">	
		<div id="cssmenu" style="margin-right:-80px;">
			 <ul style="margin-bottom:0;">
			   <li class="active"><%= link_to 'Home', controller:"pages" %><li>
			   <%if current_user%>
            		<% if current_user.role_id.equal?(1) %>
            	    <li><%= link_to 'Product', products_path %></li>
              <%end %>
               <% if current_user.role_id.equal?(2) %>
                   <li><%= link_to 'My previous orders', show_all_history_url %></li>
                   <li><%= link_to 'Show products', show_all_url %></li>
                   <li><%= link_to 'Cart', show_all_cart_url %></li>
                   <li><%= link_to 'Service', new_service_path %></li>
               <%end %>
               <% if current_user.role_id.equal?(3) %><!-- za servisera-->
                  <li><%= link_to 'Show products', show_all_url %></li>
                  <li><%= link_to 'Service', services_path %></li>
               <%end%>              
               <%end%>
			   <% if current_user %>
			   <li><%= link_to "#{current_user.full_name}", show_user_path(current_user.id) %></li>
			   <li><%= link_to "Log Out", session_path("current"), method: "delete" %> </li>
	 
			 <% else %>
			   <li><%= link_to 'Login', new_session_path %></li>
			   <li><%= link_to 'Sign up', new_user_path %><li>
		     <%end %>
			</ul>
		</div>
		<div class="clear"></div> 
	  </div>
   </div>
</div>
	<!------ Slider ------------>
		 <div class="slider col-md-12" style="background-color:seagreen;">
	      	<div class="slider-wrapper theme-default col-md-8" style="padding:20px;margin-left:-15px;">
	            <div id="slider" class="nivoSlider">
					<%= image_tag("car.jpg", alt: "") %>
					<%= image_tag("car2.jpg", alt: "") %>
					<%= image_tag("car3.png", alt: "") %>
	            </div>
		   </div>
		   <div class="slider-wrapper theme-default col-md-4" style="float:left;">
				   <h2 style="padding:30px 30px 0px 30px; " class="mojFont">
				   Welcome to The Car Shop! 
				   <h2>
				   <h3 class="mojFontContent">
				   Shop from our inventory of over 45,000 used cars in more than 150 locations.
                   </h3>
		   </div>
         </div>
  <!------End Slider ------------>
 	<div class="main">
 	 <div class="top-box">
	  <div class="wrap">
		 <div class="content-top">
			<div class="section group">
				<div class="col_1_of_3 span_1_of_3" style="margin-top: 35px;">
					<div class="grid_4">
	                    <div class="box-1">
	                        
					<%= image_tag("car4.jpg", :alt => "", :class =>"wrapper") %>
	                        <div class="inside">
	                            <h2 class="v1">Lorem ipsum </h2>
	                            <p class="desc">Lorem ipsum dolor sitamet, consect tad ipis ctets. Tincidunt dolor nunce putate ulr ipco.</p>
	                            <a href="#"><div class="clearfix"><span class="box-btn"></span></div></a>
	                        </div>
	                    </div>
                	</div>
                </div>
				<div class="col_1_of_3 span_1_of_3" style="margin-top: 35px;">
					<div class="grid_4">
	                    <div class="box-1">
						<%= image_tag("car6.jpeg", :alt => "rss feed", :class => "wrapper") %>
	                        <div class="inside">
	                            <h2 class="v1">Lorem ipsum </h2>
	                            <p class="desc">Lorem ipsum dolor sitamet, consect tad ipis ctets. Tincidunt dolor nunce putate ulr ipco.</p>
	                            <a href="#"><div class="clearfix"><span class="box-btn"></span></div></a>
	                        </div>
	                    </div>
                	</div>
                </div>
				<div class="col_1_of_3 span_1_of_3" style="margin-top: 35px;">
					<div class="grid_4">
	                    <div class="box-1">
						<%= image_tag("car7.jpg", :alt => "", :class => "wrapper") %>
	                        <div class="inside">
	                            <h2 class="v1">Lorem ipsum</h2>
	                            <p class="desc">Lorem ipsum dolor sitamet, consect tad ipis ctets. Tincidunt dolor nunce putate ulr ipco.</p>
	                            <a href="#"><div class="clearfix"><span class="box-btn"></span></div></a>
	                        </div>
	                    </div>
                	</div>
                </div>
				<div class="clear"></div> 
			</div>
		</div>
	  </div>
	</div>
	<div class="content-middle">
		<div class="wrap">
			<h5 class="head">Lorem ipsum</h5>
		       <div class="middle-top">
				<div class="col_1_of_3 span_1_of_3">
					<div class="dc-head">
						<div class="dc-head-img">
							<a href="#"><%= image_tag("car.jpg", :alt => "", :title => "dc-name") %></a>
						</div>
						<div class="dc-head-info">
							<h3>Perspiciatis</h3>
							<span>totam rem aperiam</span>
						</div>
						<div class="clear"> </div>
						<div class="dc-profile">
							<p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
							<button class="btn btn-6 btn-6a">Read More</button>
						</div>
					</div>
				</div>
				<div class="col_1_of_3 span_1_of_3">
					<div class="dc-head">
						<div class="dc-head-img">
							<a href="#"><%= image_tag("car2.jpg", :alt => "", :title => "dc-name") %></a>
						</div>
						<div class="dc-head-info">
							<h3>Perspiciatis</h3>
							<span>totam rem aperiam</span>
						</div>
						<div class="clear"> </div>
						<div class="dc-profile">
							<p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
							<button class="btn btn-6 btn-6a">Read More</button>
						</div>
					</div>
				</div>
				<div class="col_1_of_3 span_1_of_3">
					<div class="dc-head">
						<div class="dc-head-img">
							<a href="#"><%= image_tag("car3.png", :alt => "", :title => "dc-name") %></a>
						</div>
						<div class="dc-head-info">
							<h3>Perspiciatis</h3>
							<span>totam rem aperiam</span>
						</div>
						<div class="clear"> </div>
						<div class="dc-profile">
							<p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
							<button class="btn btn-6 btn-6a">Read More</button>
						</div>
					</div>
				</div>
				<div class="clear"></div> 
		   </div>
		</div>
	</div>
	
    </div>
	<div class="footer-box">
	    <div class="wrap">
	     	<h4 class="f-head">
				Lorem ipsum dolor
			</h4>	
	        <div id="slideshow">
			 	<div class="f-desc1">
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse</p>
				</div>
				<div class="f-desc1">
			 		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse</p>
				</div>
		    </div>
	  </div>
	</div>
	<div class="footer">
	   <div class="wrap">
		 <div class="copy">
			<p> © 2013 All rights Reserved | Design by <a href="http://w3layouts.com">W3Layouts</a></p>
		</div>
		<ul class="follow_icon">
		   <li><a href="#" style="opacity: 1;"><%= image_tag("fb.png", :alt => "") %></a></li>
		   <li><a href="#" style="opacity: 1;"><%= image_tag("tw.png", :alt => "") %></a></li>
		   <li><a href="#" style="opacity: 1;"><%= image_tag("rss.png", :alt => "") %></a></li>
		   <li><a href="#" style="opacity: 1;"><%= image_tag("g.png", :alt => "") %></a></li>
		</ul>
		<div class="clear"></div> 
	</div>
	<div class="footer-bot">
 		<a href="#toTop" class="toTop">&uarr;</a>
	</div>
	<div class="clear"></div>
</div>

</div>
</body>
</html>

    	
    	
            